.btn__view_close {
    position: absolute;
    top: -42px;
    right: -42px;
    background-image: url(../../../../image/close.svg);
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block;
    border: none;
    color: #050505;
    background-color: beige;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.3s linear;
  }